.introduction-svg {
	.svg {
		-skrollr-animation-name: animation-introduction-base;

		#image {
			display: block;
			-skrollr-animation-name: animation-introduction-image;
		}

		#hello {
			-skrollr-animation-name: animation-introduction-hello;
		}

		#name {
			-skrollr-animation-name: animation-introduction-name;
		}

		#intro {
			-skrollr-animation-name: animation-introduction-intro;
		}

		#information {
			-skrollr-animation-name: animation-introduction-information;
		}

		#path {
		    stroke-width: 2;
		    stroke-linecap: round;
		    stroke-linejoin: miter;
		    stroke-miterlimit: 4;
		    stroke-dasharray: 6000;
		    stroke-dashoffset: 0;
			-skrollr-animation-name: animation-introduction-path;
		}
	}
}

@-skrollr-keyframes animation-introduction-base {
	skrollr-0 {
		opacity: 1;
	}

	skrollr-900 {
		opacity: 1;
	}
}

@-skrollr-keyframes animation-introduction-hello {
	skrollr-0 {
		transform: scale(1.2);
	}

	skrollr-500 {
		transform: scale(1);
	}
}

@-skrollr-keyframes animation-introduction-name {
	skrollr-0 {
		opacity: 0.0;
	}

	skrollr-390 {
		opacity: 0.0;
	}

	skrollr-500 {
		opacity: 1.0;
	}
}

@-skrollr-keyframes animation-introduction-intro {
	skrollr-0 {
		opacity: 0.0;
	}

	skrollr-450 {
		opacity: 0.0;
	}

	skrollr-700 {
		opacity: 1.0;
	}
}

@-skrollr-keyframes animation-introduction-information {
	skrollr-0 {
		opacity: 0.0;
	}

	skrollr-550 {
		opacity: 0.0;
	}

	skrollr-700 {
		opacity: 1.0;
	}
}

@-skrollr-keyframes animation-introduction-image {
	skrollr-0 {
		opacity: 0.0;
	}

	skrollr-350 {
		opacity: 0.0;
	}

	skrollr-500 {
		opacity: 1.0;
	}
}

@-skrollr-keyframes animation-introduction-path {
	skrollr-0 {
		stroke-dashoffset: 6000;
	}

	skrollr-500 {
		stroke-dashoffset: 6000;
	}

	skrollr-900 {
		stroke-dashoffset: 4500;
	}
}
