@font-face {
    font-family: 'noto_serifbold';
    src: url('../fonts/notoserif-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'noto_serifbold';
}