<ul class="list-links">
    <li class="list-item">
        <a href="https://www.instagram.com/theraslounge3/" target="_blank" class="list-item-link">
            <i class="fa fa-info-circle"></i>
            <span class="list-item-text">How It Works</span>
            <i class="fa fa-chevron-right"></i>
        </a>
    </li>
    <li class="list-item">
        <a href="https://www.instagram.com/theraslounge3/" target="_blank" class="list-item-link">
            <i class="fa fa-inbox"></i>
            <span class="list-item-text">Flavours & Packages</span>
            <i class="fa fa-chevron-right"></i>
        </a>
    </li>
    <li class="list-item">
        <a href="https://www.instagram.com/theraslounge3/" target="_blank" class="list-item-link">
            <i class="fa fa-instagram"></i>
            <span class="list-item-text">Instagram</span>
            <i class="fa fa-chevron-right"></i>
        </a>
    </li>
    <li class="list-item">
        <a href="https://www.snapchat.com/add/ikky10" target="_blank" class="list-item-link">
            <i class="fa fa-snapchat"></i>
            <span class="list-item-text">Snapchat</span>
            <i class="fa fa-chevron-right"></i>
        </a>
    </li>
    <li class="list-item">
        <a href="tel://07572269995" target="_blank" class="list-item-link">
            <i class="fa fa-phone"></i>
            <span class="list-item-text">Order Now</span>
            <i class="fa fa-chevron-right"></i>
        </a>
    </li>
</ul>