<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shisha Delivery London</title>
    <meta name="description" content=" Delivery London" />
    {{> partials/metadata-icons}}
</head>
<body>
    <div class="p-full-centered page-background--colorblurcss js-setviewportsize"></div>
    <div id="particles-js" class="p-full-centered js-setviewportsize"></div>
    <div class="p-full-centered js-setviewportsize">
        <div class="cmp-profile-header">
            <img align="left" class="profile-picture" src="./assets/profilepic.png"/>
            <div class="cmp-info-container">
                <h1 class="site-text-h1">Rent A Shisha</h1>
                <h2 class="site-text-h2">London</h2>
            </div>
        </div>

         {{> partials/list-links}}

        <p>&copy; RAS 🔌</p>
    </div>
</body>
</html>
