<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Muhammad Dadu - Full-Stack Engineer</title>
</head>
<body>
    <div class="p-full-centered page-background--colorblur">
        <div class="cmp-profile-header">
            <img align="left" class="profile-picture" src="./assets/profilepic.png"/>
            <div class="cmp-info-container">
                <h1 class="site-text-h1">Muhammad Dadu</h1>
                <h2 class="site-text-h2">Engineer</h2>
            </div>
        </div>

        <ul class="list-links">
            <li class="list-item">
                <a href="https://github.com/muhammaddadu" target="_blank" class="list-item-link">
                    <i class="fa fa-github"></i>
                    <span class="list-item-text">Github</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
            <li class="list-item">
                <a href="https://www.linkedin.com/in/muhammaddadu/" target="_blank" class="list-item-link">
                    <i class="fa fa-linkedin"></i>
                    <span class="list-item-text">LinkedIn</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
            <li class="list-item">
                <a href="https://www.instagram.com/muhammaddadu/" target="_blank" class="list-item-link">
                    <i class="fa fa-instagram"></i>
                    <span class="list-item-text">Instagram</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
            <li class="list-item">
                <a href="https://www.snapchat.com/add/muhammaddadu" target="_blank" class="list-item-link">
                    <i class="fa fa-snapchat"></i>
                    <span class="list-item-text">Snapchat</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        </ul>

        <p>&copy; Muhammad Dadu 😎</p>
    </div>
</body>
</html>
